sources_readme/VaqaoDecodingExampleNpmFr.json
[
    {
        "id": "1a97c11010c7ed96",
        "type": "tab",
        "label": "Exemple décodage Vaqa'o Lt (Version NodeRED >1.3.0)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "16fda4bf7147d143",
        "type": "inject",
        "z": "1a97c11010c7ed96",
        "name": "Exemple de trame base64 batch Vaqa'o Lt",
        "props": [
            {
                "p": "payload.data",
                "v": "MLIAtufHAE2IhyAv2nW5FLSygnbL8m5Zu1vW7Zbl3bKUgHbLkgD2",
                "vt": "str"
            },
            {
                "p": "payload.time",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 220,
        "y": 100,
        "wires": [
            [
                "da725e636ee88c77"
            ]
        ]
    },
    {
        "id": "8a0459069140422f",
        "type": "debug",
        "z": "1a97c11010c7ed96",
        "name": "Sortie",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 100,
        "wires": []
    },
    {
        "id": "da725e636ee88c77",
        "type": "function",
        "z": "1a97c11010c7ed96",
        "name": "décodage",
        "func": "// Vous devez importer le décodeur du capteur depuis npm via l'onglet \"Configurations\" ci-dessus\n// N'oubliez pas de définir \"functionExternalModules: true,\" dans votre fichier \"settings.js\"\n\nif (msg.payload.data && typeof msg.payload.data === 'string') {\n\n    const buffer = Buffer.from(msg.payload.data, 'base64'); // La trame arrive en base64 dans msg.payload.data\n\n    var date = new Date(msg.payload.time); // La date est récupérée depuis msg.payload.time\n                                          // sous n'importe quel format et est transformée en ISO 8601\n    var inputObject = {\n        \"bytes\": buffer, // La trame sous forme de liste de bytes\n        \"fPort\": 125,    // Le port (Watteco utilise toujours 125)\n        \"recvTime\": date // La date au format ISO 8601\n    }\n\n} else {\n    node.error(\"Le message ne contient pas de trame en Base64\");\n    return null;\n}\n\nmsg.payload = wattecoVaqaOLite.driver.decodeUplink(inputObject);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "wattecoVaqaOLite",
                "module": "watteco-vaqa_o_lite"
            }
        ],
        "x": 460,
        "y": 100,
        "wires": [
            [
                "8a0459069140422f"
            ]
        ]
    }
]